DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_PRIMARY_DOMAIN=esgrequesthub.dreadops.site
DB_NAME=requesthub
DB_USER=admin123@requesthub-postgre
DB_PASSWORD=@Password123
DB_HOST=requesthub-postgre.postgres.database.azure.com
DB_PORT=5432
